@import "variables";
html {}
body {
    font-family: $cb-sans;
    color: $cb-black;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        line-height: 1.25em;
    }
    h1 {
        line-height: 1.15em;
    }
    h2 {
        line-height: 1.2em;
    }
    h3 {}
    h4 {}
    h5 {}
    h6 {}
    p {
        line-height: 1.25em;
    }
    .info-group {
        padding: 10px 0;
        .title {
            margin: 0 0 3px;
        }
        .body {
            margin: 0;
        }
    }
    .wrapper {
        padding: 10px;
    }
    .grid {
        display: flex;
        align-items: flex-start;
        .item {
            width: 100%;
            margin: 0;
            padding: 10px 0;
            position: relative;
        }
    }
}
body.light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        line-height: 2rem;
        font-weight: 300;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}
/* Larger than tablet */
@media (min-width: 750px) {}
/* Larger than desktop */
@media (min-width: 1000px) {}
/* Larger than Desktop HD */
@media (min-width: 1200px) {}
/* Smaller than mobile */
@media (max-width: 400px) {}
/* Smaller than phablet (also point when grid becomes active) */
@media (max-width: 550px) {}
/* Smaller than tablet */
@media (max-width: 750px) {}
/* Smaller than desktop */
@media (max-width: 1000px) {}
/* Smaller than Desktop HD */
@media (max-width: 1200px) {}
