$cb-primary:             #FF5252 !default;
$cb-black:               #242424 !default;





// font resource:
// https://www.google.com/fonts#UsePlace:use/Collection:Lato
$cb-sans:  "Lato", "Helvetica Neue", Helvetica, sans-serif !default;
